/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fffdea; /* Pastel pink for the entire page */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: auto;
}


.pure-g{
    gap: 5px; /* Adds 10px spacing between the child elements */
}
/* Use a more specific selector to target the h1 */
body h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    
}
#symbol_map, #hail_map{
    position: relative;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: auto; /* Use full available width */
    height: auto; /* Allow height to adjust based on content */
    background-color: #fffef7; /* Yellow container background */
    margin-top: 0px;    
    padding: 10px;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: flex-start; /* Align content at the top */
    align-items: flex-start; /* Align content to the left */
}

#symbol_map h2, #symbol_map p, #hail_map h2, #hail_map p {
    text-align: left;
    width: 100%; /* Take the full width of the container */
    margin-bottom: 0px; /* Add space between elements */
    color: #333; /* Dark text color */
    margin-left: -5px;
    margin-top: 15px;
    font-size: 20px;
    
}
#symbol_map_vis, #hail_map_vis {
    width: 100%; /* Ensure the visualization takes up the full width */
    height: 500px; /* Set a fixed height for the visualization */
    background: #fffef7; /* White background for visualization */
    margin-bottom: 0px;
}

.description-container {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Space between the two description boxes */
}

.vis-container {
    width: 10px;
}
#watersprout_map {
    position: relative;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: auto; /* Full width of the container */
    height: auto; /* Adjust height based on content */
    background-color: #fffef3; /* Yellow background */
    padding: 20px;
    margin: 5px 0; /* Space above and below the container */
    display: flex; /* Use flexbox to align items horizontally */
    flex-direction: row; /* Horizontal alignment of items */
    justify-content: flex-start; /* Space between visualization and text */
    align-items: flex-start; /* Align items to the top */
}

#watersprout_vis {
    width: auto; /* Visualization takes up 70% of the container width */
    height: auto; /* Set fixed height for visualization */
    background: #fffef3; /* Yellow background */
}

.description-right-inside {
    width: auto; /* Text description takes up 30% of the container width */
    padding: 0px 20px 20px 20px; /* Remove top padding by setting the first value to 0 */
    text-align: left; /* Align text to the left */
    background-color: #eff9f1; /* Light green background */
    border: 1px solid #000000;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
    margin-left: 0px; /* Space between visualization and text */
    margin-top: 10px; /* Remove any top margin */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Align elements vertically */
    justify-content: flex-start; /* Stick content to the top */

}



/* Container styles for rain_map and anomaly_chart visualizations */
#rain_map_container, #anomaly_chart_container {
    position: relative;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 900px;
    height: 600px;
    background-color: #fffef3; /* Yellow container background */
    padding: 10px;
    margin: 0px 0;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: flex-start;
    align-items: flex-start;
}
.description-rain-left {
    width: 870px; /* Full width of the container */
    padding: 10px;
    text-align: left; /* Align text to the left */
    margin-top: auto; /* Margin to separate from visualization */
    background-color: #d2e7d6; /* Light green background */
    border: 1px solid #000000;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.description-anomaly-right {
    width: 870px; /* Full width of the container */
    padding: 10px;
    text-align: left; /* Align text to the left */
    margin-top: auto; /* Margin to separate from visualization */
    background-color: #d2e7d6; /* Light green background */
    border: 1px solid #000000;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.pure-u-1-2, .pure-u-12-24 {
    width: 920px !important;
}