/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fce4ec; /* Pastel pink for the entire page */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

Heading styling
h1 {
    font-size: 40px;
    text-align: center;
    color: #333; /* Dark grey text */
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1.2px;
    width: 100%;
    position: absolute;
    top: 10px; /* Keep the title at the top */
}

#symbol_map {
    position: relative;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 120%; /* Make it take more of the available width */
    max-width: 900px; /* Reduce max-width to prevent the visualization from being too wide */
    height: 530px; /* Set a fixed height */
    background-color: #fffde7;
    padding: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#hail_map {
    position: relative;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 120%; /* Make it take more of the available width */
    max-width: 900px; /* Reduce max-width to prevent the visualization from being too wide */
    height: 530px; /* Set a fixed height */
    background-color: #fffde7;
    padding: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.description-left {
    width: 100%; /* Increase the width of the text container */
    padding: 10px; /* Add padding for better readability */
    text-align: left; /* Ensure the text is aligned to the left */
    
}
.vis-container {
    width: 100%;
}

.pure-u-1-3 {
    flex-grow: 1; /* Allow the left section to grow more */
}

.pure-u-2-3 {
    flex-grow: 0.7; /* Make the right section grow less */
}


/* Optional: Responsive styling */
@media (max-width: 768px) {
    .pure-u-1-2 {
        width: 100%; /* Make both columns full width on small screens */
    }

    #symbol_map {
        width: 120%;
        height: 60vh; /* Ensure the visualization adapts on small screens */
    }

    h1 {
        font-size: 24px;
    }
}

