/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #fce4ec; /* Pastel pink for the entire page */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

Heading styling
h1 {
    font-size: 40px;
    text-align: center;
    color: #333; /* Dark grey text */
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1.2px;
    width: 100%;
    position: absolute;
    top: 10px; /* Keep the title at the top */
}

#symbol_map {
    position: relative;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 98%; /* Make it take more of the available width */
    height: 530px; /* Set a fixed height */
    background-color: #fffde7;
    padding: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-left: 10px; 
}
#hail_map {
    position: relative;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: auto; /* Make it take more of the available width */
    height: 530px; /* Set a fixed height */
    background-color: #fffde7;
    padding: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-left: 10px; 
}
.container {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: space-between; /* Create space between items */
  }
  


.vis-container {
    width: 100%;
}

.box{
    flex-basis: 30%;
    margin: 0 5px;
    margin-left: 20px;
    padding: 15px;
    background-color: #efdf6b;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    height: auto
}
.waterspout-container {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-start; /* Align items to the top */
    margin: 20px 0; /* Add space above and below */
    

}

#watersprout_map {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 110%; /* Slightly larger width for visualization */
    height: 850px; /* Fixed height for consistency */
    background-color: #fffde7;
    padding: 10px;
    margin: 0 20px; /* Space between visualization and text */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-left:10px;
}

/* Styling for the description on the right */
.waterspout-container .description-right {
    width: 81%; /* Width for the text container */
    padding: 10px;
    text-align: left; /* Align text to the left */
    margin-left: 110px; /* Remove default margin */
    margin-top: 0px;
    background-color: #d2e7d6; /* Calm pastel yellow background */
    border: 2px solid #d2e7d6; /* Light yellow border */
    border-radius: 8px; /* Rounded corners for the description box */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}
.description-left {
    width: 95%; /* Increase the width of the text container */
    padding: 10px; /* Add padding for better readability */
    text-align: left; /* Ensure the text is aligned to the left */
    margin-top: 0px;
    margin-left: 10px;
    background-color: #d2e7d6; /* Calm pastel yellow background */
    border: 2px solid #d2e7d6; /* Light yellow border */
    border-radius: 8px; /* Rounded corners for the description box */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}
.description-right   {
    width: 95%; /* Increase the width of the text container */
    padding: 10px; /* Add padding for better readability */
    text-align: left; /* Ensure the text is aligned to the left */
    margin-top: 0px;
    margin-left: 10px;
    background-color: #d2e7d6; /* Calm pastel yellow background */
    border: 2px solid #d2e7d6; /* Light yellow border */
    border-radius: 8px; /* Rounded corners for the description box */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}
.description-second{
    width: 92%; /* Increase the width of the text container */
    padding: 10px; /* Add padding for better readability */
    text-align: left; /* Ensure the text is aligned to the left */
    margin-top: 0px;
    margin-left: 10px;
    background-color: #d2e7d6; /* Calm pastel yellow background */
    border: 2px solid #d2e7d6; /* Light yellow border */
    border-radius: 8px; /* Rounded corners for the description box */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.description {
    padding: 10px;
}

.description-rain-left {
    text-align: left;
    width: 440px;
    height: 430px;
    margin-right: 10px;
    background-color: #d2e7d6; /* Calm pastel yellow background */
    border: 2px solid #d2e7d6; /* Light yellow border */
    border-radius: 8px; /* Rounded corners for the description box */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    padding: 10px
  }

.description-rain-right {
    text-align: left;
    width: 420px;
    height: 430px;
    margin-left: -45px;
    background-color: #d2e7d6; /* Calm pastel yellow background */
    border: 2px solid #d2e7d6; /* Light yellow border */
    border-radius: 8px; /* Rounded corners for the description box */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    padding: 10px;
    margin-right: 30px;
}
  
#rain_map {
    position: relative;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: auto; /* Make it take more of the available width */
    height: auto; /* Set a fixed height */
    background-color: #fffde7;
    padding: 10px;
    margin-right: -230px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-left: 0px; 
    margin-bottom: 0px;
}

.text-box {
    flex-basis: 30%;
    margin: 0 5px;
    margin-left: 20px;
    padding: 15px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    height: auto
}

#anomaly_chart{
    position: left;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: auto; /* Make it take more of the available width */
    height: auto; /* Set a fixed height */
    background-color: #fffde7;
    padding: 10px;
    margin-right: -260px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-left: 0; 
    margin-bottom: 10px;
}
